body {
	background-color: pink;
}
.article {
	border-color: red;
	border-style: dotted;
	border-width: 4px;
}
#one {
	color: goldenrod;
	font-family: "arial";
}
#oneTwo{
	text-align: right;
}
#two{
	color: hotpink;
	padding-left: 10%;
}
#twoTwo {
	font-family: sans-serif;
}
#three {
	text-align: center;
	color: white;
}
#threeTwo {
	text-align: center;
}
#fourth {
	background-color: blue;
	color: red;
	text-align: center;
}